*.rds
*.h5ad
*.gct.gz
*.txt.gz
gtex/
kpmp/
ec_by_donor/
cell_meta/
hg_nuclei/
hg_ox/
hg_cap_counts/
kp_ec/
rep_heart/
p2_loy/
sessionInfo.txt
.Rhistory
.RData
.Rproj.user/
.DS_Store
figures/*
!figures/fig1_study_design.png
!figures/make_fig1.py
